# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# SQLite database files
*.sqlite3
*.db

# Virtual environment
venv/

# IDE/editor files
.idea/
.vscode/

# macOS
.DS_Store

# Packages
*.egg-info/
build/
dist/
